* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --beige: #f8f6ec;
    --dark-blue: #162b5d;
    --blue: #2b9dfe;
    --sky-blue: #8accdd;
    --blue-sapphire: #156187;
    --fecap-green: #00693c;
    --white: #fff;
    --black: #000;
}

li {
    list-style: none;
}

p {
    font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
}

body {
    background-color: var(--white);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    
    min-height: 70vh;
    padding: 2rem 2rem 3rem;

    border-end-end-radius: 16px;
    border-end-start-radius: 16px;

    background-color: var(--blue);
    color: var(--dark-blue);
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}


header a {
    color: var(--dark-blue);
    font-weight: bold;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.75rem ;
}


footer {
    background-color: var(--dark-blue);
    color: var(--beige);

    padding: 2rem 2rem 4rem;

    border-start-end-radius: 16px;
    border-start-start-radius: 16px;
}

footer>p {
    margin-bottom: 3rem;
}

footer a {
    color: var(--white);
    font-weight: bold;
}

footer>img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

footer a>img {
    width: 1.5rem;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 1.5rem;
}

footer>a {
    font-size: clamp(1rem, 1rem + 1vw, 1.25rem);
    text-align: center;
    display: block;
}