* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --beige: #f8f6ec;
    --dark-blue: #162b5d;
    --blue: #2b9dfe;
    --sky-blue: #8accdd;
    --blue-sapphire: #156187;
    --fecap-green: #00693c;
    --white: #fff;
    --black: #000;
}

li {
    list-style: none;
}

p {
    font-size: clamp(1rem, 1rem + 3vw, 1.25rem);
}

body {
    background-color: var(--white);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    
    min-height: 70vh;
    padding: 2rem 2rem 3rem;

    border-end-end-radius: 16px;
    border-end-start-radius: 16px;

    background-color: var(--blue);
    color: var(--dark-blue);
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}


header a {
    color: var(--dark-blue);
    font-weight: bold;
}

h1 {
    font-size: clamp(2rem, 2rem + 1vw, 4rem);
}

h1>span {
    background-color: var(--white);
}

span.green {
    background-color: var(--fecap-green);
    color: var(--white);
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

h2 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

div.li-teams {
    display: flex;
    justify-content: center;   
    
    margin: 1rem 0;
}

div.li-teams ul li {
    margin-bottom: 1rem;
    text-align: center;
}

div.projects-carousel {
    display: flex;
    overflow-x: auto;
}


div.projects-carousel div {
    height: 70vh;
    width: 90%;

    margin-right: .625rem;
    flex-shrink: 0;

    background-color: #ebebeb;

    display: flex;
    justify-content: flex-end;

    border-radius: 16px;
}

div.projects-carousel>div:first-child {
    background-image: url(img/pascoa-solidaria-1.jpeg);
    background-size: cover;
    background-repeat: 0;
    background-position: center;
}

div.projects-carousel>div:nth-child(2) {
    background-image: url(img/hamburgada-feliz-1.jpeg);
    background-size: cover;
    background-repeat: 0;
}


div.projects-carousel>div:last-child {
    margin-right: 0;
    background-image: url(img/trote-solidario-1.jpeg);

    background-size: cover;
    background-position: center;
}

div.projects-carousel>div>a {
    height: 100%;
    width: 100%;

    text-align: center;

    text-decoration: none;
    color: var(--dark-blue);

    font-weight: bold;
    
}

div.projects-carousel>div>a>p {
    margin-top: 1.5rem;
    background-color: #fff;
    width: fit-content;
    text-align: center;
    padding: .5rem;

    border-start-end-radius: 1.5rem;
    border-end-end-radius: 1.5rem;
}

section.team-mural-wrapper {
    text-align: center;
}

div.team-mural {
    position: relative;
    height: 37.5rem;
    width: 20rem;

    margin: 0 auto 1rem;
}

.pfp {
    position: absolute;
    border-radius: 50%;
    width: 6.25rem;
    display: block;
}

.pfp-1 {
    top: 45%;
    left: 35%;
}

.pfp-2 {
    top: 75%;
    left: 67%;
}

.pfp-3 {
    top: 20%;
}

.pfp-4 {
    top: 10%;
    left: 27%;
}

.pfp-5 {
    left: 55%;
}

.pfp-6 {
    top: 38%;
    left: 3%;
}

.pfp-7 {
    top: 65%;
    left: 30%;
}

.pfp-8 {
    top: 16%;
    left: 68%;
}

.pfp-9 {
    top: 40%;
    left: 67%;
}

.pfp-10 {
    top: 83%;
    left: 20%;
}

.pfp-11 {
    top: 58%;
}

.pfp-12 {
    top: 27%;
    left: 37%;
}

.pfp-13 {
    top: 57%;
    left: 60%;
}

section.team-mural-wrapper>a {
    color: var(--dark-blue);
}


section.mission {
    color: var(--black);
    background-color: var(--beige);
    padding: 1rem 3rem 2rem;
    margin: 0 -1rem;
    border-radius: 0;
}

section.mission>p {
    font-family: 'Roboto Slab', serif;
    font-style: italic;

}

ul.values {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

ul.values>li {
    color: var(--white);
    background-color: var(--blue-sapphire);

    padding: 1rem;
    border-radius: 1.5rem;

    font-weight: bold;
}


footer {
    background-color: var(--dark-blue);
    color: var(--beige);

    padding: 2rem 2rem 4rem;

    border-start-end-radius: 16px;
    border-start-start-radius: 16px;

    text-align: center;
}

footer>p {
    margin-bottom: 3rem;
}

footer a {
    color: var(--white);
    font-weight: bold;
}

footer>img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

footer a>img {
    width: 1.5rem;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 1.5rem;
}

footer>a {
    font-size: clamp(1rem, 1rem + 1vw, 1.25rem);
    text-align: center;
    display: block;
}



/* cores do lgbtqi+ */

span#l {
    color: #dd4040;
}

span#g {
    color: #FF8C00;
}

span#b {
    color: #fff456;
}

span#t {
    color: #008026;
}

span#q {
    color: #2d4eaa;
}

span#i {
    color: #732982;
}

@media(max-width: 375px) {
    div.team-mural {
        display: none;
    }
}

@media(min-width:768px) {
    nav ul {
        justify-content: space-evenly;
    }

    header>div {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    
    header>div>* {
        flex-basis: 1;
    }

    main {
        padding: 1rem 5rem;
    }

    section:nth-of-type(2)>div {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}

