* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --beige: #f8f6ec;
    --dark-blue: #162b5d;
    --blue: #2b9dfe;
    --sky-blue: #8accdd;
    --blue-sapphire: #156187;
    --fecap-green: #00693c;
    --white: #fff;
    --black: #000;
}

body {
    background-color: var(--white);
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
    
    min-height: 70vh;
    padding: 2rem 2rem 3rem;
    
    border-end-end-radius: 16px;
    border-end-start-radius: 16px;
    
    background-color: var(--blue);
    color: var(--dark-blue);
}


nav ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

li {
    list-style: none;
}

header>div, nav ul {
    max-width: 48rem;
    margin: 0 auto;
}

header a {
    color: var(--dark-blue);
    font-weight: bold;
}

h1 {
    font-size: clamp(2rem, 2rem + 1vw, 4rem);
}

h1>span {
    background-color: var(--white);
}

main {
    padding: 1rem;
}

div.image-carousel {
    display: flex;
    
    margin: 0 -1rem;
    
    overflow-y: auto;
}

div.image-carousel img {
    height: 25vh;
}

section {
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}

section:first-of-type {
    background-color: var(--dark-blue);
    color: var(--white);
    
    border-radius: 1rem;
    
    text-align: center;
    
    margin-top: 1rem;
}

section:last-of-type {
    margin-bottom: 0;
}

h2 {
    margin-bottom: 1rem;
    font-size: clamp(1.5rem, 1.5rem + 1vw, 1.9rem);
}

.pfp {
    border-radius: 50%;
    width: 12.5rem;
}

h3 {
    font-size: clamp(1.25rem, 1.25rem + 1vw, 1.6rem);
}

p {
    font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
}

div.wrapper {
    overflow-y: auto;

    display: flex;
    gap: 20px;
    
    border-radius: .625rem;
    
    margin-top: 1rem;
}

div.card {
    border: 1px #f1f1f1 solid;
    flex-shrink: 0;
    gap: 10px;

    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.075);
    
    max-width: 90%;
    border-radius: 1rem;
    padding: 1.25rem;
    margin-bottom: 1rem;
}

div.card.comms:first-child {
    background-color: var(--beige);
}

div.left {
    text-align: center;
    gap: 1rem;
}

h3 {
    margin-bottom: 1rem;
}

div.right {
    display: grid;
    place-items: center;
}

div.card.finances:first-child {
    color: var(--black);
    background-color: var(--sky-blue);
}

div.card.projects:first-child {
    color: var(--black);
    background-color: var(--blue);
}

footer {
    background-color: var(--dark-blue);
    color: var(--beige);

    padding: 2rem 2rem 4rem;

    text-align: center;

    border-start-end-radius: 16px;
    border-start-start-radius: 16px;
}

footer>p {
    margin-bottom: 3rem;
}

footer a {
    color: var(--white);
    font-weight: bold;
}

footer>img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

footer a>img {
    width: 1.5rem;
}

footer ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 1.5rem;
}

footer>a {
    font-size: clamp(1rem, 1rem + 1vw, 1.25rem);
    text-align: center;
    display: block;
}

/* barra de scroll em naegadores q usam motor do google */

::-webkit-scrollbar {
    width: 1.125rem;
}

::-webkit-scrollbar-thumb {
    background: #c8c8c8;
    background-clip: content-box;
    border: 6px solid transparent;
    border-radius: .625rem;
}

/* responsividade */

@media(min-width:768px) {
    header {
        justify-content: space-around;
    }

    nav ul {
        justify-content: space-evenly;
    }

    header>div {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    main {
        padding: 1rem 5rem;
    }

    div.image-carousel {    
        margin: 0 -5rem;
    }

    section:first-of-type>div, div.card {
        display: flex;
        gap: 2rem;
    }

    div.left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media(min-width: 1024px) {
    header {
        padding: 2rem 10rem 3rem;
    }

    main {
        max-width: 48rem;
        margin: 0 auto;
        padding: 1rem 0;
    }

    div.image-carousel {
        margin: 0 -10rem;
    }
}